<div class="container mt-5 p-5 border rounded">
  <div class="row">
    <div class="col-md-6 mt-3">
      <h2>Account Page</h2>
      <p class="mt-4 fs-4 lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ipsum
        consequatur aliquam voluptate eaque voluptatum molestiae distinctio
        sapiente est incidunt!
      </p>
      <a href="" class="btn btn-info mt-4 mb-4 fs-6 fw-bold ps-5 pe-5"
        >More Info</a
      >
    </div>
    <div class="col-md-6">
      <router-outlet />
    </div>
  </div>
</div>
