<div class="mt-5 container alert alert-info">
  <h2 class="m-4">Home Page</h2>
  <p class="ms-4">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, adipisci
    explicabo dolores itaque dolor magnam molestiae amet inventore suscipit
    distinctio dolorem sapiente, optio modi, sint nesciunt quam. Unde, veniam
    ipsa!
  </p>
  <p class="ms-4">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos, adipisci
    explicabo dolores itaque dolor magnam molestiae amet inventore suscipit
    distinctio dolorem sapiente, optio modi, sint nesciunt quam. Unde, veniam
    ipsa!
  </p>
  <button class="btn btn-dark m-4 fs-6 fw-bold">Show More</button>
</div>
